In [2]:
import pandas as pd
from pyspark.sql import SparkSession, functions as F

In [3]:
# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("MAST30034 Project 1")
    .config("spark.sql.repl.eagerEval.enabled", True)
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
23/08/02 14:34:12 WARN Utils: Your hostname, LAPTOP-RELH58H1 resolves to a loopback address: 127.0.1.1; using 172.19.22.4 instead (on interface eth0)
23/08/02 14:34:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/02 14:34:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Converting Crash Data to parquet file

In [4]:
# Step 1: Provide the path to the CSV file
csv_file_path = "../data/raw/NYC_Vehicle_Collisions_Crashes.csv"

# Step 2: Read the CSV file into a Spark DataFrame
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

# Step 3: Write the DataFrame to a Parquet file
parquet_output_path = "../data/raw/NYC_Vehicle_Collisions_Crashes.parquet"
df.write.parquet(parquet_output_path)

23/08/02 14:35:57 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/mnt/c/Users/61435/Desktop/Applied Data/Project1/mast30034-project-1-HFISHER00/data/raw/NYC_Vehicle_Collisions_Crashes.parquet already exists. Set mode as "overwrite" to overwrite the existing path.

REMOVING CRASHES WITH NULL FOR BOROUGH (LOCATION)

In [5]:
from pyspark.sql.functions import col

# Create a Spark session
spark = SparkSession.builder.appName("Remove Null Rows").getOrCreate()

# Read the parquet file into a DataFrame
Crash_results = spark.read.parquet('../data/raw/NYC_Vehicle_Collisions_Crashes.parquet')

# Filter out rows with null values in the "BOROUGH" column
Crash_results_filtered = Crash_results.na.drop(subset=["BOROUGH"])

# Show the filtered DataFrame
Crash_results_filtered.show()

# Save the filtered DataFrame to a new Parquet file
Crash_results_filtered.write.parquet('../data/landing/Crash_results_filtered.parquet', mode='overwrite')

23/08/02 14:38:03 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+----------+----------+-------------+--------+---------+----------+--------------------+--------------------+------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
|CRASH DATE|CRASH TIME|      BOROUGH|ZIP CODE| LATITUDE| LONGITUDE|            LOCATION|      ON STREET NAME| CROSS STREET NAME|     OFF STREET NAME|NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1|CONTRIBUTING FACTOR VEHICLE 2|CONTRIBUTING FACTOR VEHICLE 3|CONTRIBUTING FACTOR VEHICLE 4|CONTRIBUTING FACTOR VEHICLE 5|COLLISION_ID| VEHICLE TYPE CODE 1| VEHICLE TYPE CODE 2|VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
+----------+----------+-------------+--------+---------+----------+--------------------+--------------------+------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
|09/11/2021|      9:35|     BROOKLYN|   11208|40.667202|  -73.8665|(40.667202, -73.8...|                null|              null|1211      LORING ...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         null|                         null|                         null|                         null|     4456314|               Sedan|                null|               null|               null|               null|
|12/14/2021|      8:13|     BROOKLYN|   11233|40.683304|-73.917274|(40.683304, -73.9...|     SARATOGA AVENUE|    DECATUR STREET|                null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                         null|                         null|                         null|                         null|                         null|     4486609|                null|                null|               null|               null|               null|
|12/14/2021|      8:17|        BRONX|   10475| 40.86816| -73.83148|(40.86816, -73.83...|                null|              null|344       BAYCHES...|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|                  Unspecified|                  Unspecified|                         null|                         null|                         null|     4486660|               Sedan|               Sedan|               null|               null|               null|
|12/14/2021|     21:10|     BROOKLYN|   11207| 40.67172|  -73.8971|(40.67172, -73.8971)|                null|              null|2047      PITKIN ...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         null|                         null|                         null|     4487074|               Sedan|                null|               null|               null|               null|
|12/14/2021|     14:58|    MANHATTAN|   10017| 40.75144| -73.97397|(40.75144, -73.97...|            3 AVENUE|    EAST 43 STREET|                null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         null|                         null|                         null|     4486519|               Sedan|Station Wagon/Spo...|               null|               null|               null|
|12/14/2021|     16:50|       QUEENS|   11413|40.675884| -73.75577|(40.675884, -73.7...|SPRINGFIELD BOULE...|   EAST GATE PLAZA|                null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|           Turning Improperly|                  Unspecified|                         null|                         null|                         null|     4487127|               Sedan|Station Wagon/Spo...|               null|               null|               null|
|12/14/2021|     23:10|       QUEENS|   11434| 40.66684| -73.78941|(40.66684, -73.78...|NORTH CONDUIT AVENUE|        150 STREET|                null|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Reaction to Uninv...|                  Unspecified|                         null|                         null|                         null|     4486635|               Sedan|               Sedan|               null|               null|               null|
|12/14/2021|     17:58|     BROOKLYN|   11217| 40.68158| -73.97463|(40.68158, -73.97...|                null|              null|480       DEAN ST...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         null|                         null|                         null|     4486604|              Tanker|Station Wagon/Spo...|               null|               null|               null|
|12/14/2021|     20:03|     BROOKLYN|   11226| 40.65068| -73.95881|(40.65068, -73.95...|                null|              null|878       FLATBUS...|                        4|                       0|                            0|                           0|                        0|                       0|                         4|                        0|             Steering Failure|                         null|                         null|                         null|                         null|     4486991|               Sedan|                null|               null|               null|               null|
|12/11/2021|     19:43|        BRONX|   10463| 40.87262|-73.904686|(40.87262, -73.90...|WEST KINGSBRIDGE ...|      HEATH AVENUE|                null|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|                         null|                         null|                         null|     4487040|Station Wagon/Spo...|               Sedan|               null|               null|               null|
|12/11/2021|      4:45|    MANHATTAN|   10001|40.748917|-73.993546|(40.748917, -73.9...|                null|              null|232       WEST 30...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|                         null|                         null|                         null|     4486905|Station Wagon/Spo...|                null|               null|               null|               null|
|12/13/2021|      6:30|       QUEENS|   11372| 40.75373| -73.88505|(40.75373, -73.88...|           82 STREET|         34 AVENUE|                null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         null|                         null|                         null|                         null|     4486967|               Sedan|                null|               null|               null|               null|
|12/13/2021|     17:40|STATEN ISLAND|   10301| 40.63165| -74.08762|(40.63165, -74.08...|   VICTORY BOULEVARD|  WOODSTOCK AVENUE|                null|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|                         null|                         null|                         null|     4487001|               Sedan|               Sedan|               null|               null|               null|
|12/14/2021|     17:31|     BROOKLYN|   11230|40.623104| -73.95809|(40.623104, -73.9...|      EAST 18 STREET|          AVENUE K|                null|                        1|                       0|                            1|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         null|                         null|                         null|                         null|     4486516|               Sedan|                null|               null|               null|               null|
|12/14/2021|     20:13|     BROOKLYN|   11215| 40.66576|  -73.9845|(40.66576, -73.9845)|                null|              null| 366       12 STREET|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         null|                         null|                         null|     4486605|               Sedan|                null|               null|               null|               null|
|12/14/2021|     12:54|     BROOKLYN|   11217|40.687534|  -73.9775|(40.687534, -73.9...|       FULTON STREET|SAINT FELIX STREET|                null|                        1|                       0|                            0|                           0|                        1|                       0|                         0|                        0|                  Unspecified|                  Unspecified|                         null|                         null|                         null|     4487052|               Sedan|                Bike|               null|               null|               null|
|12/14/2021|     17:15|     BROOKLYN|   11211|40.710957|-73.951126|(40.710957, -73.9...|        GRAND STREET|      UNION AVENUE|                null|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|         Passing or Lane U...|                  Unspecified|                         null|                         null|                         null|     4486556|                 Bus|Station Wagon/Spo...|               null|               null|               null|
|12/14/2021|     22:49|        BRONX|   10455| 40.81813|-73.910126|(40.81813, -73.91...|                null|              null|713       EAGLE A...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|                         null|                         null|                         null|     4486875|                Taxi|                null|               null|               null|               null|
|12/12/2021|      9:00|       QUEENS|   11385| 40.70447| -73.90148|(40.70447, -73.90...|                null|              null| 59-14     67 AVENUE|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         null|                         null|                         null|     4486933|Station Wagon/Spo...|                null|               null|               null|               null|
|07/12/2022|     17:50|     BROOKLYN|   11225|40.663303| -73.96049|(40.663303, -73.9...|                null|              null|44        EMPIRE ...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|            Oversized Vehicle|                  Unspecified|                         null|                         null|                         null|     4545699|               Sedan|                null|               null|               null|               null|
+----------+----------+-------------+--------+---------+----------+--------------------+--------------------+------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

Convert Crime data csv's to parquets

In [6]:
# Step 1: Provide the path to the CSV file
csv_file_path = "../data/raw/shooting_data.csv"

# Step 2: Read the CSV file into a Spark DataFrame
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

# Step 3: Write the DataFrame to a Parquet file
parquet_output_path = "../data/raw/shooting_data.parquet"
df.write.parquet(parquet_output_path)

In [10]:
from pyspark.sql import SparkSession

# Assuming you already have a SparkSession called "spark"
spark.conf.set("spark.sql.parquet.int96RebaseModeInWrite", "CORRECTED")

# Step 1: Provide the path to the CSV file
csv_file_path = "../data/raw/complaint_data.csv"

# Step 2: Read the CSV file into a Spark DataFrame
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

# Step 3: Write the DataFrame to a Parquet file
parquet_output_path = "../data/raw/complaint_data.parquet"
df.write.parquet(parquet_output_path)

In [12]:
# Step 1: Provide the path to the CSV file
csv_file_path = "../data/raw/arrest_data.csv"

# Step 2: Read the CSV file into a Spark DataFrame
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

# Step 3: Write the DataFrame to a Parquet file
parquet_output_path = "../data/raw/arrest_data.parquet"
df.write.parquet(parquet_output_path)

Removing unneccesary columns from crime data

Shooting Data

In [14]:
# Step 1: Read the existing Parquet file into a DataFrame
parquet_input_path = "../data/raw/shooting_data.parquet"
df = spark.read.parquet(parquet_input_path)

# Step 2: Select the columns you want to keep
selected_columns = ["INCIDENT_KEY", "OCCUR_DATE", "OCCUR_TIME", "BORO", "PRECINCT", "Latitude", "Longitude"]
df_selected = df.select(*selected_columns)

# Step 3: Write the selected DataFrame to a new Parquet file
parquet_output_path = "../data/raw/shooting_data_reduced.parquet"
df_selected.write.parquet(parquet_output_path)

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/mnt/c/Users/61435/Desktop/Applied Data/Project1/mast30034-project-1-HFISHER00/data/raw/shooting_data_reduced.parquet already exists. Set mode as "overwrite" to overwrite the existing path.

In [15]:
df_selected.show()

+------------+-------------------+-------------------+---------+--------+------------------+------------------+
|INCIDENT_KEY|         OCCUR_DATE|         OCCUR_TIME|     BORO|PRECINCT|          Latitude|         Longitude|
+------------+-------------------+-------------------+---------+--------+------------------+------------------+
|   228798151|2021-05-27 00:00:00|2023-08-02 21:30:00|   QUEENS|     105|40.662964620000025|-73.73083868899994|
|   137471050|2014-06-27 00:00:00|2023-08-02 17:40:00|    BRONX|      40| 40.81035186300005|-73.92494232599995|
|   147998800|2015-11-21 00:00:00|2023-08-02 03:56:00|   QUEENS|     108| 40.74260663300004|-73.91549174199997|
|   146837977|2015-10-09 00:00:00|2023-08-02 18:30:00|    BRONX|      44| 40.83778200300003|-73.91945661499994|
|    58921844|2009-02-19 00:00:00|2023-08-02 22:58:00|    BRONX|      47| 40.88623791800006|-73.85290950899997|
|   219559682|2020-10-21 00:00:00|2023-08-02 21:36:00| BROOKLYN|      81|40.678456718000064|-73.92795224099996|
|    85295722|2012-06-17 00:00:00|2023-08-02 22:47:00|   QUEENS|     114| 40.75648234300007|-73.94726649399996|
|    71662474|2010-03-08 00:00:00|2023-08-02 19:41:00| BROOKLYN|      81|40.694264056000065|-73.93280863699994|
|    83002139|2012-02-05 00:00:00|2023-08-02 05:45:00|   QUEENS|     105|40.706106731000034|-73.74710653899996|
|    86437261|2012-08-26 00:00:00|2023-08-02 01:10:00|   QUEENS|     101| 40.59769719800005|-73.74906464199995|
|    74998200|2010-10-10 00:00:00|2023-08-02 03:21:00|MANHATTAN|      23| 40.79772626500005|-73.94650650799997|
|    74363835|2010-08-29 00:00:00|2023-08-02 01:27:00| BROOKLYN|      75| 40.66060839100004|-73.89588694299994|
|   234756217|2021-10-09 00:00:00|2023-08-02 20:17:00| BROOKLYN|      71| 40.66502269100005|-73.95711436799998|
|    78961869|2011-05-25 00:00:00|2023-08-02 21:58:00|    BRONX|      50|40.884494922000044|-73.90559937499995|
|    53891791|2008-11-09 00:00:00|2023-08-02 20:13:00| BROOKLYN|      78|40.682565055000055|-73.98504421199993|
|    32914993|2007-07-05 00:00:00|2023-08-02 01:27:00|    BRONX|      47| 40.88412413300006|-73.84896796399994|
|    73879554|2010-07-27 00:00:00|2023-08-02 02:22:00|MANHATTAN|      30| 40.82630793100003|-73.94320965699995|
|    87694905|2012-11-14 00:00:00|2023-08-02 21:07:00| BROOKLYN|      81|40.678204504000064|-73.92318836699997|
|   230311079|2021-07-01 00:00:00|2023-08-02 02:44:00| BROOKLYN|      73| 40.66947322100003|-73.90780500799997|
|   225297069|2021-03-07 00:00:00|2023-08-02 21:17:00| BROOKLYN|      71| 40.65735150300002|-73.95840237599998|
+------------+-------------------+-------------------+---------+--------+------------------+------------------+
only showing top 20 rows